.gallery-section {
  position: relative;
  /* background-color: #fff; */
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 100px;
}

.carousel {
  position: relative;
  margin-top: 35px;
  width: 85%;
}

.carousel-inner {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
