.events-container {
    position: relative;
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 50px;
}

.events-contents {
    margin-top: 0;
}

.left-track {
    position: relative;
    align-self: flex-start;
    margin-right: 15rem;
}

.event-track-top::before {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 4px solid #f7f7f7;
    background-color: #70A076;
}

.event-track-line::before {
    content: '';
    display: block;
    height: 500px;
    width: 10px;
    background: #fff7f7;
}

.event-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #f7f7f7;
    border: 4px solid #f7f7f7;
}

.event-icon-container {
    position: absolute;
    top: 2px;
    left: 3px;
}

.icon-img {
    height: 50px;
    width: 42px;
}

.icon-img-henna {
    height: 42px;
    width: 45px;
}

.icon-img-party {
    height: 40px;
    width: 40px;
}

.event-inner-img {
    height: 250px;
    width: 390px;
    border-radius: 10px;
}

.inner-content {
    text-align: left;
    width: 100%;
    line-height: 1.7rem;
    position: relative;
}

.inner-content .header {
    width: 100%;
    font-size: 48px;
    padding-top: 30px;
    margin-bottom: 0;
}

.content-date {
    font-family: Poppins;
    color: rgb(112, 160, 118);
    font-size: 17px;
    padding-bottom: 5px;
    position: absolute;
    left: 60px;
    width: 132px;
    top: 13px;
}

.content-txt {
    color: #808080;
    position: absolute;
    bottom: -55px;
    width: 395px;
    left: 0;
    font-size: 20px;
}

.icon-img {
    transition-duration: 400ms;
}

.event-content-haldi:hover .icon-img-haldi, .event-content-henna:hover .icon-img-henna, .event-content-wedding:hover .icon-img-wedding, .event-content-party:hover .icon-img-party {
    rotate: 360deg;
    transition-duration: 400ms;
}

.events-container .line-asset {
    bottom: -0.75%;
}

@media (max-width: 625px) {
    .events-container {
        padding-bottom: 60px;
        padding-top: 30px;
    }

    .events-container .header {
        font-size: 40px;
    }

    .event-inner-img {
        height: 110px;
        width: 170px;
    }

    .event-icon {
        width: 55px;
        height: 55px;
    }

    .icon-img {
        height: 45px;
        width: 40px;
    }

    .icon-img-henna {
        height: 40px;
        width: 45px;
    }

    .event-icon-henna {
        left: 0;
    }

    .icon-img-party {
        width: 37px;
        height: 37px;
    }

    .content-txt {
        font-size: 13px;
        width: 165px;
        left: 0;
        bottom: -55px;
    }

    .left-track {
        margin-right: 140px;
    }

    .inner-content .header {
        font-size: 35px;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .event-track-line::before {
        height: 280px;
    }

    .content-date {
        font-size: 15px;
        left: 48px;
        top: 0;
        width: 100px;
    }
}

@media (max-width: 1100px) and (min-width: 626px) {

    .events-container {
        padding-bottom: 80px;
        padding-top: 60px;
    }

    .events-container .header {
        font-size: 70px;
    }

    .event-inner-img {
        height: 230px;
        width: 360px;
    }

    .content-txt {
        font-size: 25px;
        width: 357px;
        left: 0;
        line-height: 33px;
        bottom: -90px;
    }

    .left-track {
        margin-right: 270px;
    }

    .inner-content .header {
        font-size: 55px;
        padding-top: 35px;
        margin-bottom: 20px;
    }

    .event-track-line::before {
        height: 500px;
    }

    .content-date {
        font-size: 26px;
        left: 65px;
        top: 0px;
        width: 180px;
    }

    .event-icon {
        width: 85px;
        height: 85px;
    }

    .icon-img {
        height: 75px;
        width: 65px;
    }

    .icon-img-henna {
        height: 65px;
        width: 70px;
    }

    .icon-img-party {
        width: 62px;
        height: 60px;
    }

    .events-container .line-asset {
        bottom: -0.6%;
    }
}

@media (max-width: 300px) {

    .events-container {
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .events-container .header {
        font-size: 40px;
    }

    .event-inner-img {
        height: 90px;
        width: 135px;
    }

    .event-icon {
        width: 42px;
        height: 42px;
    }

    .icon-img {
        height: 32px;
        width: 27px;
    }

    .icon-img-henna {
        height: 28px;
        width: 33px;
    }

    .event-icon-henna {
        left: 0;
    }

    .icon-img-party {
        width: 28px;
        height: 28px;
    }

    .content-txt {
        font-size: 11px;
        width: 130px;
        left: 0;
        bottom: -40px;
        line-height: 15px;
    }

    .left-track {
        margin-right: 95px;
    }

    .inner-content .header {
        font-size: 28px;
        padding-top: 5px;
        margin-bottom: 0;
    }

    .event-track-line::before {
        height: 220px;
    }

    .content-date {
        font-size: 11px;
        left: 32px;
        top: 0px;
        width: 75px;
    }
}

@media (max-width: 625px) {
    .events-container .line-asset {
        bottom: -0.7%;
    }
}

.event-img {
    border-radius: 10px;
    overflow: hidden;
}

.event-img img {
    transition: 0.2s all ease-in-out;
}

.event-img:hover img {
    transform: scale(1.1);
}