.home-section {
    /* background-image: url('../images/home/home1m.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: background-image 0.5s ease-in-out;
}

.middle-txt-wrapper {
    margin: 18px 0 18px 0;
    gap: 1rem;
}

.first-txt {
    color: #fff;
    font-family: Playfair;
    font-size: 22px;
    letter-spacing: 3px;
}

.second-txt {
    color: #fff;
    font-size: 65px;
}

.scroll-anim-container {
    position: absolute;
    /* right: 3rem; */
    bottom: 1rem;
    z-index: 999;
}

.scroll-txt {
    position: absolute;
    bottom: 1rem;
    /* animation: down 1.5s infinite; */
    color: #cdcdcd;
    width: 155%;
    font-family: Poppins, sans-serif;
    font-size: 12px;
}

.scroll {
	width: 50px;
	height: 50px;
	border: 2px solid #cdcdcd;
	border-radius: 50%;
	position: relative;
    bottom: 3rem;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 20px;
		left: 17px;
		width: 13px;
		height: 13px;
		border-left: 2px solid #cdcdcd;
  	    border-bottom: 2px solid #cdcdcd;
		transform: rotate(133deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(-15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(-15px);
	}
	40% {
		transform: translate(0);
	}
}

@media (max-width: 1200px) {
    .home-section {
        /* Media query for screens below 1200px */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 625px) {
    .asset-flower {
        width: 190px;
    }

    .first-txt {
        font-size: 18px;
    }

    .second-txt {
        font-size: 45px;
    }

    .middle-txt-wrapper {
        margin: 13px 0 13px 0;
        gap: 0.3rem;
    }
}

@media (max-width: 1100px) and (min-width: 626px) {

    .home-section {
        /* background-image: url('../images/home/home1m.jpg'); */
    }

    .asset-flower {
        width: 400px;
    }

    .first-txt {
        font-size: 40px;
    }

    .second-txt {
        font-size: 95px;
    }

    .middle-txt-wrapper {
        margin: 20px 0 20px 0;
        gap: 3rem;
    }
}

@media (max-width: 300px) {
    .asset-flower {
        width: 150px;
    }

    .first-txt {
        font-size: 12px;
    }

    .second-txt {
        font-size: 37px;
    }

    .middle-txt-wrapper {
        margin: 2px 0 2px 0;
        gap: 0rem;
    }
}

.asset-flower-top, .asset-flower-bottom {
    opacity: 0;
}

.second-txt {
    opacity: 0;
}

.first-txt {
    opacity: 0;
}

.custom-animate-bottom {
    position: relative;
    animation: 0.5s animatebottomcustom;
    animation-delay: 1.2s;
}

.custom-animate-top {
    position: relative;
    animation: 0.5s animatetopcustom;
    animation-delay: 1.2s;
}

.custom-animate-first-top {
    position: relative;
    animation: 0.5s animatetopcustom;
    animation-delay: 0.8s;
}

.custom-animate-second-top {
    position: relative;
    animation: 0.5s animatetopcustom;
    animation-delay: 0.3s;
}

@keyframes animatebottomcustom {
    0% {
        bottom: -30px;
        opacity: 0;
    }
    
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatetopcustom {
    0% {
        top: -30px;
        opacity: 0;
    }
    
    100% {
        top: 0;
        opacity: 1;
    }
}