html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

@font-face {
    font-family: 'Alex Brush';
    src: url(../fonts/Alex_Brush/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.heart {
    display: inline-block;
    width: 10px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.header {
    font-family: Alex Brush, sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 60px;
}

.asset {
    position: absolute;
    bottom: -75px;
    z-index: 12;
}

.line-asset {
    bottom: -2%;
}

.line-asset img {
    margin-top: 5%;
    width: 25%;
}

@media (max-width:625px) {
    .line-asset {
        bottom: -2.9%;
    }
}

@media (max-width: 625px) {
.line-asset > img {
    width: 50%;
    }
}