.map-section {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 50px;
    padding-top: 50px;
}

.map-frame {
    width: 50%;
    border: 2px green;
    margin: 35px 5% 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 12px rgba(0, 128, 0);
}

.map-anim {
    width: 100%;
    position: relative;
}

.map-container .line-asset {
    bottom: -2.6%;
}

.place .reception-place {
    text-decoration: underline;
    user-select: text;
}

@media (max-width: 625px) {
    .map-container .line-asset {
        bottom: -2%;
    }
}

@media (max-width: 625px) {

    .map-section {
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .map-anim .header {
        font-size: 40px;
    }

    .map-frame {
        width: 80%;
        margin: 0;
        margin-top: 10px;
        height: 300px;
    }

    .map-frame iframe {
        height: 300px;
    }

    .place .reception-place {
        line-height: 17px;
    }
}

@media (max-width: 1100px) and (min-width: 626px) {

    .map-section {
        padding-bottom: 70px;
        padding-top: 60px;
    }

    .map-anim .header {
        font-size: 70px;
    }

    .map-frame {
        width: 80%;
        height: 450px;
    }

    .map-frame iframe {
        height: 450px;
    }

    .map-container .line-asset {
        bottom: -1.6%;
    }
}

@media (max-width: 300px) {

    .map-section {
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .map-anim .header {
        font-size: 40px;
    }

    .map-frame {
        width: 80%;
        height: 250px;
        margin-top: 10px;
    }

    .map-frame iframe {
        height: 250px;
    }
}