.navbar {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-container {
    gap: 50rem;
    padding: 1rem;
    position: fixed;
    top: 0px;
    min-width: 100%;
    background-color: #fff;
    border-top: 1px solid rgba(222, 222, 222, 0.15);
    border-bottom: 1px solid rgba(222, 222, 222,0.15);
    z-index: 999;
}

.logo {
    background-color: #000;
    min-width: 100px;
    height: 50px;
}

.nav-link-container {
    gap: 2rem;
}

.nav-link {
    gap: 2rem;
}


@media (max-width: 1400px) {
    .nav-container {
        
    }
}


@media (min-width: 1200px) {

    .navbar {
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }

    .nav-link-container-mobile {
        display: none;
    }
}